div.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }
  div.sidebarWrapper {
    padding: 20px;

    ul.sidebarList {
      padding: 0;
      padding: 0;
      list-style: none;

      li.sidebarListItem {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .sidebarIcon {
          margin-right: 15px;
        }
      }
    }

    button.sidebarButton {
      width: 150px;
      border: none;
      padding: 0;
      border-radius: 5px;
      font-weight: 500;
    }
    hr.sidebarHr {
      margin: 20px 0;
    }
    ul.sidebarFriendList {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}
